/* CSS Document */
/* positionnement */
#banniere
{
	margin:16px;
	font-size:200%;
	font-weight:bold;
	text-align:center;
	color:#FFFFFF;
}
#ftp
{
	width:95%;
	margin:auto;
}
#adresse
{
	width:100%;
	padding:1px 0px 0px 0px;
	background-color:#C0C0C0;
	border:1px solid;
	border-color:#000000;
	text-align:center;
	font-weight:bold;
	color:#404040;
}
#dossiers_cadre
{
	width:auto;
	padding:2px;
	background-color:#C0C0C0;
	border:1px solid;
	border-color:#000000;
}
#fichiers_cadre
{
	width:auto;
	padding:2px;
	background-color:#C0C0C0;
	border:1px solid;
	border-color:#000000;
}
#credits
{
	padding:4px 0px;
	background-color:#C0C0C0;
	border:1px solid;
	border-color:#000000;
	text-align:center;
	font-size:small;
	font-weight:bold;
	color:#404040;
}

/* Style */
body
{
	background-color:#808080;
}
form
{
	display:inline;
}
p
{
	display:inline;
}
img
{
	border:0px;
}
table
{
	empty-cells:show;
}
#adresse table
{
	width:100%;
}
#adresse_text
{
	width:96px;
}
#adresse_submit
{
	width:64px;
}
#adresse_barre
{
	width:100%;
}
#adresse input
{
	background-color:#808080;
	border:1px solid;
	border-color:#000000;
	color:#404040;
	font-weight:bold;
}
#adresse input:hover
{
	color:#FFFFFF;
}
#dossiers_cadre table
{
	width:100%;
}
#fichiers_cadre table
{
	width:100%;
}
.titre
{
	background-color:#808080;
	border:1px solid;
	border-color:#000000;
	color:#FFFFFF;
	font-weight:bold;
	text-align:center;
}
#fichiers_type
{
	width:8px;
	background-color:#808080;
	border:1px solid;
	border-color:#000000;
	color:#404040;
}
.fichiers_icone
{
	width:24px;
	text-align:center;
}
.fichiers_taille
{
	width:64px;
	text-align:right;
}
.fichiers_taille_2
{
	width:32px;
	text-align:left;
}
.fichiers_modification
{
	width:152px;
	text-align:center;
}
.fichiers_total_taille
{
	background-color:#808080;
	border:1px solid;
	border-color:#000000;
	color:#404040;
	text-align:right;
	font-weight:bold;
}
.fichiers_total_taille_2
{
	background-color:#808080;
	border:1px solid;
	border-color:#000000;
	color:#404040;
	text-align:left;
	font-weight:bold;
}
.sous_titre
{
	background-color:#808080;
	border:1px solid;
	border-color:#000000;
	color:#404040;
	font-weight:bold;
	text-align:center;
}
a
{
	text-decoration:none;
	color:#404040;
}
a:hover
{
	text-decoration:underline;
	color:#FFFFFF;
}
.dossier_courant
{
	font-weight:bold;
	color:#FFFFFF;
}

.fichier td
{
	border:1px solid;
	border-color:#808080;
	color:#404040;
}
.fichier:hover td
{
	background-color:#808080;
	border:1px solid;
	border-color:#000000;
	color:#FFFFFF;
}
.fichier a
{
	color:#404040;
	text-decoration:none;
}
.fichier:hover a
{
	color:#FFFFFF;
}
.fichier a:hover
{
	text-decoration:underline;
}
#credits a
{
	text-decoration:none;
	color:#404040;
}
#credits a:hover
{
	text-decoration:underline;
}
#design input
{
	background-color:#808080;
	border:1px solid;
	border-color:#000000;
	color:#404040;
	font-weight:bold;
}
#design input:hover
{
	background-color:#C0C0C0;
	color:#FFFFFF;
}
#design select
{
	background-color:#808080;
	border:1px solid;
	border-color:black;
	color:#404040;
	font-weight:bold;
}
#design select:hover
{
	background-color:#C0C0C0;
	color:#FFFFFF;
}
.erreur {
	color:#FF0000;
	text-align:center;
	font-weight:bold;
}
