/* CSS Document */
/* Général */
body
{
	margin-top:20px;
	margin-bottom:20px;
	background-color:#003060;
	text-align:center;
}
h1
{
	color:#FFFFFF;
}
/* Choix du design */
#design_formulaire
{
	display:inline;
}
#design_liste_deroulante
{
	background-color:#003060;
	border:1px solid;
	border-color:#000000;
	color:#8080FF;
	font-weight:bold;
}
#design_liste_deroulante:hover
{
	background-color:#004080;
	color:#FFFFFF;
}
#design_submit
{
	background-color:#003060;
	border:1px solid;
	border-color:#000000;
	color:#8080FF;
	font-weight:bold;
}
#design_submit:hover
{
	background-color:#004080;
	color:#FFFFFF;
}
/* FTP */
#ftp
{
	width:98%;
	margin:auto;
}
/* Barre d'adresse */
#adresse_barre
{
	background-color:#FFFFFF;
	border:2px solid black;
	text-align:center;
	font-weight:bold;
}
#adresse_formulaire
{
	display:inline;
}
#adresse_text
{
	width:83%;
	background-color:#004080;
	border:1px solid black;
	color:#FFFFFF;
}
#adresse_submit
{
	background-color:#004080;
	border:1px solid;
	border-color:#000000;
	color:#FFFFFF;
	font-weight:bold;
}
/* Arborescence */
.fenetre
{
	width:100%;
}
.fenetre td
{
	text-align:left;
}
.fenetre .titre
{
	background-color:#004080;
	border:1px solid black;
	font-weight:bold;
	color:#FFFFFF;
}
.fenetre .sous_titre
{
	border:1px solid;
	border-color:#000000;
	color:#000000;
}
/* Dossiers */
#arborescence_dossiers
{
	width:20%;
	background-color:#FFFFFF;
	border:2px solid black;
}
#arborescence_dossiers a
{
	background-color:#FFFFFF;
	text-decoration:none;
	color:#000000;
}
#arborescence_dossiers a:hover
{
	background-color:#FFFFFF;
	text-decoration:underline;
	color:#004080;
}
.dossier
{
	padding-left:20px;
	background-image:url(../explorateur_ftp/icones/repertoire.png);
	background-repeat:no-repeat;
}
#dossier_courant
{
	padding-left:15px;
	background-image:url(../explorateur_ftp/icones/repertoire_ouvert.png);
	background-repeat:no-repeat;
	font-weight:bold;
	color:#004080;
}
/* Fichiers */
#arborescence_fichiers
{
	width:auto;
	background-color:#FFFFFF;
	border:2px solid black;
}
.fichier:hover
{
	color:#FFFFFF;
	background-color:#004080;
}
.fichier a
{
	color:#000000;
	text-decoration:none;
}
.fichier:hover a
{
	color:#FFFFFF;
}
.fichier a:hover
{
	text-decoration:underline;
}
/* Crédits */
#credits
{
	background-color:#004080;
	border:1px solid black;
	color:#8080FF;
	text-align:center;
	font-size:small;
	font-weight:bold;
}
#credits a
{
	background-color:#004080;
	text-decoration:none;
	color:#8080FF;
}
#credits a:hover
{
	text-decoration:underline;
}
